%h1 
  Fake Twitter
-if !current_user.nil?
  %h4
    Hi #{@user.user_name}! Here's whats happening.
  -if !@user.followings.nil? 
    -@user.followings.each do |following|
      %h4
        =User.find(following.follower_id).user_name
      -User.find(following.follower_id).tweets.each do |tweet|
        =tweet.text
        %br
        =tweet.created_at.strftime("%B %d, %Y at %I:%M %p")
        %br
        %br
      %br
  -else
    %h4
      Search for some people to follow using the form!

