#commentForm
  .form-horizontal
    Fake Twitter uses Gravatar, get yours 
    %a{:href => "http://en.gravatar.com/", :target => "blank"} here
    %br
    =f.label :email
    =f.text_field :email
    %br
    %br
  .form-horizontal
    =f.label :user_name
    =f.text_field :user_name
    %br
    %br
  .form-horizontal
    =f.label :password
    =f.password_field :password
    %br
    %br
  .form-horizontal
    =f.label :password_confirmation
    =f.password_field :password_confimation
    %br
    %br
  .form-horizontal
    =f.label :bio
    =f.text_area :bio
    %br
    %br
  =f.submit "Sign Up!"